registery=https://registery.npmjs.com
register=https://npmmirror.com
registry=https://registry.npmjs.org
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
proxy=socks5://127.0.0.1:1080
https-proxy=socks5://127.0.0.1:1080
